html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Urbanist', sans-serif;
}

.document-thumbnail,
.img-thumbnail {
    width: 100%;
    height: 130px !important;
    object-fit: cover;
    margin-bottom: 10px;
}

.document-title {
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.document-item {
    cursor: pointer;
    margin-bottom: 20px;
}

.document-item:hover {
    opacity: 0.8;
}